.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #ffffff;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 45.00%,rgb(207, 231, 255) 100.00%);
}
.home-text {
  font-size: 100px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px rgba(160, 160, 160, 0);
  font-family: Poiret One;
}
.home-text1 {
  font-family: Courier New;
  color: white;
}
.home-text2 {
  font-style: normal;
  font-family: Poiret One;
  font-weight: 400;
}
.home-text3 {
  font-family: Poiret One;
}